In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

# This might be helpful:
from collections import Counter

In [2]:
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
df_hh_income = pd.read_csv('Median_Household_Income_2015.csv', encoding="windows-1252")
df_pct_poverty = pd.read_csv('Pct_People_Below_Poverty_Level.csv', encoding="windows-1252")
df_pct_completed_hs = pd.read_csv('Pct_Over_25_Completed_High_School.csv', encoding="windows-1252")
df_share_race_city = pd.read_csv('Share_of_Race_By_City.csv', encoding="windows-1252")
df_fatalities = pd.read_csv('Deaths_by_Police_US.csv', encoding="windows-1252")

## Preliminary data exploration

In [8]:
data_frames = [df_hh_income, df_pct_poverty, df_pct_completed_hs, df_share_race_city, df_fatalities]

for df in data_frames:
    print(df)
    print(df.shape)

      Geographic Area                    City Median Income
0                  AL              Abanda CDP         11207
1                  AL          Abbeville city         25615
2                  AL         Adamsville city         42575
3                  AL            Addison town         37083
4                  AL              Akron town         21667
...               ...                     ...           ...
29317              WY  Woods Landing-Jelm CDP           NaN
29318              WY            Worland city         41523
29319              WY             Wright town         77114
29320              WY              Yoder town         37500
29321              WY           Y-O Ranch CDP           NaN

[29322 rows x 3 columns]
(29322, 3)
      Geographic Area                    City poverty_rate
0                  AL              Abanda CDP         78.8
1                  AL          Abbeville city         29.1
2                  AL         Adamsville city         25.5
3                  AL            Addison town         30.7
4                  AL              Akron town           42
...               ...                     ...          ...
29324              WY  Woods Landing-Jelm CDP         18.6
29325              WY            Worland city         15.3
29326              WY             Wright town          5.9
29327              WY              Yoder town          5.4
29328              WY           Y-O Ranch CDP            0

[29329 rows x 3 columns]
(29329, 3)
      Geographic Area                    City percent_completed_hs
0                  AL              Abanda CDP                 21.2
1                  AL          Abbeville city                 69.1
2                  AL         Adamsville city                 78.9
3                  AL            Addison town                 81.4
4                  AL              Akron town                 68.6
...               ...                     ...                  ...
29324              WY  Woods Landing-Jelm CDP                  100
29325              WY            Worland city                 85.6
29326              WY             Wright town                 89.2
29327              WY              Yoder town                 79.4
29328              WY           Y-O Ranch CDP                  100

[29329 rows x 3 columns]
(29329, 3)
      Geographic area                    City share_white share_black  \
0                  AL              Abanda CDP        67.2        30.2
1                  AL          Abbeville city        54.4        41.4
2                  AL         Adamsville city        52.3        44.9
3                  AL            Addison town        99.1         0.1
4                  AL              Akron town        13.2        86.5
...               ...                     ...         ...         ...
29263              WY  Woods Landing-Jelm CDP        95.9           0
29264              WY            Worland city        89.9         0.3
29265              WY             Wright town        94.5         0.1
29266              WY              Yoder town        97.4           0
29267              WY           Y-O Ranch CDP        92.8         1.5

      share_native_american share_asian share_hispanic
0                         0           0            1.6
1                       0.1           1            3.1
2                       0.5         0.3            2.3
3                         0         0.1            0.4
4                         0           0            0.3
...                     ...         ...            ...
29263                     0         2.1              0
29264                   1.3         0.6           16.6
29265                   1.4         0.2            6.2
29266                     0           0              4
29267                   2.6           0           11.8

[29268 rows x 7 columns]
(29268, 7)
        id                name      date   manner_of_death       armed   age  \
0        3          Tim Elliot  02/01/15              shot         gun 53.00
1        4    Lewis Lee Lembke  02/01/15              shot         gun 47.00
2        5  John Paul Quintero  03/01/15  shot and Tasered     unarmed 23.00
3        8     Matthew Hoffman  04/01/15              shot  toy weapon 32.00
4        9   Michael Rodriguez  04/01/15              shot    nail gun 39.00
...    ...                 ...       ...               ...         ...   ...
2530  2822    Rodney E. Jacobs  28/07/17              shot         gun 31.00
2531  2813               TK TK  28/07/17              shot     vehicle   NaN
2532  2818  Dennis W. Robinson  29/07/17              shot         gun 48.00
2533  2817       Isaiah Tucker  31/07/17              shot     vehicle 28.00
2534  2815        Dwayne Jeune  31/07/17              shot       knife 32.00

     gender race           city state  signs_of_mental_illness threat_level  \
0         M    A        Shelton    WA                     True       attack
1         M    W          Aloha    OR                    False       attack
2         M    H        Wichita    KS                    False        other
3         M    W  San Francisco    CA                     True       attack
4         M    H          Evans    CO                    False       attack
...     ...  ...            ...   ...                      ...          ...
2530      M  NaN    Kansas City    MO                    False       attack
2531      M  NaN    Albuquerque    NM                    False       attack
2532      M  NaN          Melba    ID                    False       attack
2533      M    B        Oshkosh    WI                    False       attack
2534      M    B       Brooklyn    NY                     True       attack

             flee  body_camera
0     Not fleeing        False
1     Not fleeing        False
2     Not fleeing        False
3     Not fleeing        False
4     Not fleeing        False
...           ...          ...
2530  Not fleeing        False
2531          Car        False
2532          Car        False
2533          Car         True
2534  Not fleeing        False

[2535 rows x 14 columns]
(2535, 14)