In [2]:
import pandas as pd

In [3]:
filename = '2022 RBC Visa Excel -Working Copy (2) 1.xlsx'
df = pd.read_excel(filename)
df 
df.dtypes

Unnamed: 0     object
Unnamed: 1     object
Unnamed: 2     object
Unnamed: 3    float64
dtype: object

In [55]:

df[df.columns[0]] = df[df.columns[0]].str.strip()
df[df.columns[0]] = pd.to_datetime(df[df.columns[0]], format='%b %d, %Y').dt.strftime('%d-%b-%Y')
df.dtypes

Unnamed: 0     object
Unnamed: 1     object
Unnamed: 2     object
Unnamed: 3    float64
dtype: object

In [56]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,31-Dec-2022,"SQ *HARRINGTON ENTERTA, Newcastle",Foreign Currency,11.40
1,31-Dec-2022,"SMP*Absolute Megatainm, Lambton",Foreign Currency,14.39
2,31-Dec-2022,"SMP*Absolute Megatainm, Lambton",Foreign Currency,9.59
3,31-Dec-2022,"OUT ON SCREEN, VANCOUVER",NaN,268.00
4,31-Dec-2022,"LONG & MCQUADE, 905-837-9785",NaN,10.08
...,...,...,...,...
992,03-Jan-2022,"AMZ*Joyinshop, WWW.AMAZON.CA",NaN,-3.22
993,02-Jan-2022,CANADAHELPS *DONATION,NaN,500.00
994,01-Jan-2022,"NBX*COASTAL JAZZ & BLU, 604-8725200",NaN,250.00
995,01-Jan-2022,"NBX*VAN WRITERS FEST, 604-6816330",NaN,306.60
996,01-Jan-2022,"OUT ON SCREEN, VANCOUVER",NaN,268.00

In [57]:
with pd.ExcelWriter('output.xlsx') as writer:
    df.to_excel(writer, index=False, startrow=1, header=False)

In [32]:
df = pd.read_excel('RBC savings 2021 -Working Copy.xlsx')
df

2021 RBC Savings Account    object
Unnamed: 1                  object
Unnamed: 2                  object
Unnamed: 3                  object
dtype: object

In [9]:
import openpyxl

# Load the Excel file
wb = openpyxl.load_workbook('2022 RBC Visa Excel -Working Copy (2) 1.xlsx')

# Select the first sheet
sheet = wb.active

# Check if the first column is a date format
if sheet.cell(row=1, column=1).data_type == 'd':
    print('Column 1 is a date format')
else:
    print('Column 1 is not a date format')

Column 1 is not a date format